@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	:root {
		--color-background: "#F9F9F9";
		--color-stroke: "#D7D7D7";
	}

	.LC-container {
		background-color: #F9F9F9 !important;
		@apply px-[16px] pt-[16px] pb-[24px] md:max-w-[1440px] md:py-[80px];
	}

	.LC-header {
		@apply px-[16px] py-[8px] md:px-[120px] md:py-[20px];
	}

	button.primary,
	button.outlined:hover {
		background-color: #3C4EF2;
		color: white;
	}

	button.outlined,
	button.primary:hover {
		background-color: white;
		color: #3C4EF2;
		border: 1px solid #3C4EF2;
	}

	button.size-s {
		height: 40px;
		font-size: 14px;
		border-radius: 8px;
		text-align: center;
		padding: 10px 20px;
	}

	button.size-m {
		height: 50px;
		font-size: 18px;
		font-weight: 700;
		line-height: 26px;
		border-radius: 8px;
		text-align: center;
		padding: 12px 24px;
	}
	button.size-l {
		height: 69px;
		font-size: 24px;
		line-height: 26px;
		border-radius: 12px;
		text-align: center;
		padding: 20px 32px;
	}
}

@layer components {
	button.custom-button {
		@apply text-white bg-[#3C4EF2] hover:bg-[#3041D9] focus:ring-4 focus:ring-blue-300 focus:outline-none font-medium rounded-lg px-5 py-2.5 mb-2;
	}
}

@layer antd {

	/* ant collapse */
	.ant-collapse {
		@apply !border-0;
	}

	.ant-collapse-header {
		background-color: #F9F9F9;
		border: none !important;
		@apply text-[16px] font-semibold leading-[20px] tracking-[3%] md:text-[30px] md:font-medium md:leading-normal md:tracking-[0%];
	}

	.ant-collapse-content {
		border: none !important;
	}

	.ant-collapse-content-box {
		background-color: #F9F9F9 !important;
		@apply text-[14px] font-medium leading-[20px] tracking-[0%] !pt-[10px] align-middle md:text-[20px] md:font-medium md:leading-[32px];
	}

	.ant-form-item-label label {
		font-size: 24px !important;
		font-weight: 600 !important;
	}

	.ant-input {
		font-size: 16px !important;
		height: 48px;
	}
	.ant-select-selector, .ant-select {
		font-size: 16px !important;
		height: 48px !important;
	}

	.ant-button {
		height: 40px !important;
	}

	/* choose-hoteltype */
	.choose-hoteltype .ant-card-body {
		padding: 0 !important;
	}

	.choose-hoteltype .ant-card-body label.ant-radio-wrapper {
		margin-right: 0 !important;
	}

	@media only screen and (min-width: 600px) {
		.ant-collapse-item {
			margin-top: 24px;
			border: 1px #D7D7D7 solid !important;
			border-radius: 16px !important;
			overflow: hidden;
			background-color: #F9F9F9 !important;
		}
	}
}